* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Verdana, sans-serif;
    background: #f5f5f5;
}

/*---------------------------------------------*/

a {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #337ab7;
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}

.txt2 {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-transform: uppercase;
}

.bg1 {
    background-color: #3b5998
}

.bg2 {
    background-color: #1da1f2
}

.bg3 {
    background-color: #ea4335
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: #337ab7;
    /* background-image: url('/img/bg-01.jpg'); */
}

.wrap-login100 {
    width: 650px;
    background: #fff;
    overflow: hidden;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Verdana;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
    font-family: Verdana;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
    font-weight: bold;
}

.input100 {
    font-family: Verdana;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 7px 0 7px;
}

/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::after {
    content: attr(data-symbol);
    font-family: "Font Awesome 5 Free";
    color: #adadad;
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}

.input100:focus+.focus-input100::after {
    color: #a64bf4;
}

.has-val.input100+.focus-input100::after {
    color: #a64bf4;
}

/*------------------------------------------------------------------
[ Button ]*/

.btn {
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 10px 20px;
}

.btn-lg {
    width: 100%;
}

.btn.btn-primary {
    color: #fff;
    background: #337ab7;
}

.btn.btn-outline-dark {
    color: #7f7f7f;
    background: #fff;
    border: 1px solid #7f7f7f;
}

.btn.btn-outline-dark:hover {
    color: #fff;
    background: #7f7f7f;
}

.head-auth {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 40px;
}

.tab-auth {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tab-auth-btn {
    width: 48%;
    margin: 5px;
    text-align: center;
    float: left;
    color: #fff;
    padding: 10px 7px;
}

.tab-auth-btn.active, .tab-auth-btn:hover {
    background: #fff;
    color: #333333;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #dc3545;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;
    font-family: Verdana;
    color: #dc3545;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #dc3545;
    font-size: 16px;
    bottom: calc((100% - 20px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.login100-social-item {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.login100-social-item:hover {
    color: #fff;
    background-color: #333333;
}

.btn-logout {
    float: right;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid;
}

.btn-logout:hover {
    background: #fff;
    color: #337ab7;
}

#content {
    min-height: 100px;
}

.header {
    border-bottom: 1px solid #ccee;
    padding: 14px;
    margin-bottom: 20px;
    background: #337ab7;
}

.header .title-page {
    color: #fff;
}

.btn-min-width {
    min-width: 150px;
}

.btn-save {
    border: 1px solid #337ab7;
    color: #337ab7;
}

.btn-save:hover {
    background: #337ab7;
    color: #fff;
}

.btn-cancel {
    border: 1px solid #7f7f7f;
    color: #7f7f7f;
}

.btn-cancel:hover {
    background: #7f7f7f;
    color: #fff;
}

.btn-config {
    position: absolute;
    right: 6px;
    top: 9px;
}

.btn-edit, .btn-delete {
    padding: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    color: #dc3545
}

.author {
    display: inline-block;
    font-weight: bold;
}

.div-radio {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 15px 7px;
}

select.input100 {
    height: 40px;
    margin-top: 10px;
}

.login100-form .title-page {
    margin-bottom: 30px;
    border-bottom: 1px solid;
    padding-bottom: 50px;
    text-align: center;
}

.card {
    padding: 24px;
    background: #fff;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Timeline  */

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-top: -14px;
}

.container-timeline:hover .content {
    background: #337ab759;
}

.container-timeline.left:hover::before {
    border-left-color: #337ab759;
}

.container-timeline.right:hover::before {
    border-right-color: #337ab759;
}

/* The circles on the timeline */

.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #337ab7;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container-timeline:hover::after {
    background-color: #337ab71c;
}

/* Place the container to the left */

.left {
    left: 0;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -13px;
}

/* The actual content */

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container-timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container-timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}