<div class="col-md-8 col-md-offset-2 m-t-20">

    <div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>Autor</th>
                <th>Mensagem</th>
                <th ></th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let message of messages">
                <td >
                    <div class=""></div>
                    {{ message.username }}
                </td>
                <td >
                    {{ message.content }}
                </td>
                <td style="width: 90px;">
                    <a (click)="onEdit(message)" class="btn-edit" title="Editar"><span class="fa fa-edit"></span> </a>
                    <a (click)="onDelete(message)" class="btn-delete" title="Excluir"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
 
</div>